<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-1 ">
                <div class="logo"><a href="index.html"><img class="rounded-circle mb-2"  src="~/Content/img/0a0b494aca2916c72ac04264690b7436.png"  style="width: 90px; height: 90px;"/></a></div>
            </div>
       
            <div class="col-md-11">
                <div class="menu_text">
                    <ul class="row">
                        <li class="col-2"><a href="@Url.Action("Index" ,"Home")">ANA SAYFA</a></li>
                        <li class="col-2"><a href="@Url.Action("About","About")">HAKKIMIZDA</a></li>
                        <li class="col-2"><a href="@Url.Action("Fiyat","Fiyat")">PAKETLERİMİZ</a></li>
                        <li class="col-2"><a href="@Url.Action("Ekip","Ekip")">SINIFLARIMIZ</a></li>
                        <li class="col-2"><a href="@Url.Action("Contact","Contact")">İLETİŞİM</a></li>
                         <li><a href="@Url.Action("Signup","Users")">KAYIT</a></li>
  
                      
 


                    </ul>
</div>
           
            
            </div>
        </div>
    </div>
</div>
