  <!--sidebar-wrapper-->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div class="">
            <img style="width: 60px; height: 60px;" src="~/Areas/Admin/Content/images/0a0b494aca2916c72ac04264690b7436.png" class="logo-icon-2 rounded-circle mb-2" alt="" />
        </div>
        <div>
            <h4 class="logo-text">FitClub Admin</h4>
        </div>
        <a href="javascript:;" class=" ms-auto">
            <i class=""></i>
        </a>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="@Url.Action("Index" ,"MainPage")">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-home-alt"></i>
                </div>
                <div class="menu-title">Ana Sayfa</div>
            </a>

        </li>

        <li>
            <a href="@Url.Action("Index" ,"Contacts")">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-phone"></i>
                </div>
                <div class="menu-title">İletişim </div>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Index" ,"ContactMessages")">
                <div class="parent-icon icon-color-1">
                    <i class="bx bx-message"></i>
                </div>
                <div class="menu-title">İletişim Mesajları</div>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Index" ,"Invoice")">
                <div class="parent-icon icon-color-1">
                    <i class="lni lni-cart"></i>
                </div>
                <div class="menu-title">Ödeme Sistemi</div>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Index" ,"Kayıt")">
                <div class="parent-icon icon-color-1">
                    <i class="lni lni-user"></i>
                </div>
                <div class="menu-title">Kayıt Sistemi</div>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Index" ,"Fiyatlandırma")">
                <div class="parent-icon icon-color-1">
                    <i class="lni lni-user"></i>
                </div>
                <div class="menu-title">Fiyatlandrıma </div>
            </a>

        </li>
        @*<li class="menu-label">Web Apps</li>
        <li>
            <a href="payment-gateway.html">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-credit-card"></i>
                </div>
                <div class="menu-title"> Ödeme Sistemi</div>
            </a>
        </li>
        <li>
            <a href="chat-box.html">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-conversation"></i>
                </div>
                <div class="menu-title">Mesaj Bölümü</div>
            </a>
        </li>
        <li>
            <a href="contact-list.html">
                <div class="parent-icon icon-color-5">
                    <i class="bx bx-group"></i>
                </div>
                <div class="menu-title">İletişim</div>
            </a>
        </li>
        <li>
            <a href="to-do.html">
                <div class="parent-icon icon-color-6">
                    <i class="bx bx-task"></i>
                </div>
                <div class="menu-title">Planlar Listesi</div>
            </a>
        </li>

        <li class="menu-label">Pages</li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon icon-color-3">
                    <i class="bx bx-lock"></i>
                </div>
                <div class="menu-title">Authentication</div>
            </a>
            <ul>
                <li>
                    <a href="authentication-login.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Giriş</a>
                </li>
                <li>
                    <a href="authentication-register.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Kayıt Olmak</a>
                </li>
                <li>
                    <a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Şifremi Unuttum</a>
                </li>
                <li>
                    <a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Şifreyi Sıfırla</a>
                </li>
                <li>
                    <a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Kilit Ekranı</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="user-profile.html">
                <div class="parent-icon icon-color-4">
                    <i class="bx bx-user-circle"></i>
                </div>
                <div class="menu-title">Kullanıcı Profili</div>
            </a>
        </li>*@

    </ul>
    <!--end navigation-->
</div>
<!--end sidebar-wrapper-->
