@model fitness.Models.Users

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="our_price_section layout_padding">
    <div class="container">
        <h1 class="our_price"><strong>Ücretlerimiz</strong></h1>
        <p class="client_long_text">Kendinize en uygun planı seçiniz </p>
        <div class="price_section_2">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="beginner">
                        <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Baslangic)</h2>
                        <h1 class="plan_text"> @Html.DisplayNameFor(model => model.BaslangicFiyat)</h1>
                        <P class="access_text"> Spor salonuna erişim</P>
                        <P class="access_text"> Haftada 3 ders</P>
                        <P class="access_text">Bir yıllık üyelik</P>
                        <P class="access_text"> ÜCRETSİZ içecek paketi</P>
                        <P class="free_text"> 1 Ücretsiz kişisel antrenman</P>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="premium">
                        <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Premium)</h2>

                        <h1 class="plan_text"> @Html.DisplayNameFor(model => model.PremiumFiyat)</h1>
                        <P class="access_text">Spor salonuna erişim</P>
                        <P class="access_text">
                            Haftada 5 kez grup dersi
                        </P>
                        <P class="access_text">
                            18 aylık üyelik avantajı
                        </P>
                        <P class="access_text">Özel antrenman seanslarında %15 indirim</P>
                        <P class="access_text">Aylık bedava beslenme danışmanlığı</P>
                        <P class="access_text">
                            Ücretsiz içecek paketi
                        </P>
                        <P class="free_text">
                            1 Ücretsiz kişisel antrenman
                        </P>
                    </div>

                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="beginner">
                        <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Profosyonel)</h2>
                        <h1 class="plan_text"> @Html.DisplayNameFor(model => model.ProfosyonelFiyat)</h1>
                        <P class="access_text">
                            24/7 spor salonu erişimi
                        </P>
                        <P class="access_text">  Sınırsız grup dersi    </P>
                        <P class="access_text">  Haftada 2 ücretsiz kişisel antrenman  </P>
                        <P class="access_text">  Kişisel antrenmanlarda %20 indirim          </P>
                        <P class="free_text"> 1 Ücretsiz kişisel antrenman</P>
                    </div>

                </div>
            </div> <br />  <br />
        </div>
    </div>
</div>



<!--
{
    <div class="our_price_section layout_padding">
        <div class="container">
            <h1 class="our_price"><strong>Ücretlerimiz</strong></h1>
            <p class="client_long_text">Kendinize en uygun planı seçiniz </p>
            <div class="price_section_2">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="beginner">
                            <h2 class="beginner_text">Baslangic</h2>
                            <h1 class="plan_text">@Model.BaslangicFiyat</h1>-->
<!-- Diğer fiyat bilgileri -->
<!--</div>
</div>
<div class="col-sm-12 col-lg-4">
    <div class="premium">
        <h2 class="beginner_text">Premium</h2>
        <h1 class="plan_text">@Model.PremiumFiyat</h1>-->
<!-- Diğer fiyat bilgileri -->
<!--</div>
</div>
<div class="col-sm-12 col-lg-4">
    <div class="beginner">
        <h2 class="beginner_text">Profosyonel</h2>
        <h1 class="plan_text">@Model.ProfosyonelFiyat</h1>-->
<!-- Diğer fiyat bilgileri -->
<!--</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}-->
