@model IEnumerable<fitness.Models.Users>

@{
    ViewBag.Title = "Fiyatlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="our_price_section layout_padding" style="margin-bottom:1rem;">
    <div class="container">
        <h1 class="our_price"><strong>Ücretlerimiz</strong></h1>
        <p class="client_long_text">Kendinize en uygun planı seçiniz </p>
        <div class="price_section_2">
            <div class="row" style="border-bottom:1rem;">
                <div class="col-sm-12 col-lg-4">
                    <div class="beginner">
                        <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Baslangic)</h2>
                        @foreach (var user in Model)
                        {
                            <h1 class="plan_text">@user.BaslangicFiyat </h1>
                        }                        <p class="access_text">Spor salonuna erişim</p>
                        <p class="access_text">Haftada 3 ders</p>
                        <p class="access_text">Bir yıllık üyelik</p>
                        <p class="access_text">ÜCRETSİZ içecek paketi</p>
                        <p class="free_text">1 Ücretsiz kişisel antrenman</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="beginner">
                        <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Premium)</h2>
                        @foreach (var user in Model)
                        {
                            <h1 class="plan_text">@user.PremiumFiyat </h1>
                        }                                  <P class="access_text">Spor salonuna erişim</P>
                        <P class="access_text">
                            Haftada 5 kez grup dersi
                        </P>
                        <P class="access_text">
                            18 aylık üyelik avantajı
                        </P>
                        <P class="access_text">Özel antrenman seanslarında %15 indirim</P>
                        <P class="access_text">Aylık bedava beslenme danışmanlığı</P>
                        <P class="access_text">
                            Ücretsiz içecek paketi
                        </P>
                        <P class="free_text">
                            1 Ücretsiz kişisel antrenman
                        </P>
                    </div>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <div class="beginner">
                            <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Profosyonel)</h2>
                            @foreach (var user in Model)
                            {
                                <h1 class="plan_text">@user.ProfosyonelFiyat </h1>
                            }                                  <P class="access_text">
                                24/7 spor salonu erişimi
                            </P>
                            <P class="access_text">  Sınırsız grup dersi    </P>
                            <P class="access_text">  Haftada 2 ücretsiz kişisel antrenman  </P>
                            <P class="access_text">  Kişisel antrenmanlarda %20 indirim          </P>
                            <P class="free_text"> 1 Ücretsiz kişisel antrenman</P>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<div class="our_price_section layout_padding" style="margin-bottom:1rem;">
        <div class="container">
            <p class="client_long_text">Kendinize en uygun planı seçiniz </p>
            <div class="price_section_2">
                <div class="row" style="border-bottom:1rem;">
                    <div class="col-sm-12 col-lg-3">
                        <div class="beginner">
                            <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.BirAylık)</h2>
                            @foreach (var user in Model)
                            {
                                <h1 class="plan_text">@user.BirAylıkFiyat </h1>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="beginner">
                            <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.ÜçAylık)</h2>
                            @foreach (var user in Model)
                            {
                                <h1 class="plan_text">@user.ÜçAylıkFiyat </h1>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="beginner">
                            <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.AltıAylık)</h2>
                            @foreach (var user in Model)
                            {
                                <h1 class="plan_text">@user.AltıAylıkFiyat </h1>
                            }
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-3">
                        <div class="beginner">
                            <h2 class="beginner_text"> @Html.DisplayNameFor(model => model.Onİki_Aylık)</h2>
                            @foreach (var user in Model)
                            {
                                <h1 class="plan_text">@user.OnİkiAylıkFiyat </h1>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
