@model fitness.Models.Users
@{
    ViewBag.Title = "Index";
}

<h2>İndex</h2>

<table id="tbl1" class="table">
    <thead>
        <tr>
            <th>
                Başlangıç
            </th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td> @users.BaslangicFiyat </td>
                <td> @Html.ActionLink("Sil", "Sil", new { baslangicfiyat = users.baslangicfiyat }, new { @class = "btn btn-danger" }) </td>
                <td> @Html.ActionLink("Güncelle", "Guncelle", new { baslangicfiyat = users.baslangicfiyat }, new { @class = "btn btn-success" }) </td>
            </tr>
        }
    </tbody>
</table>

<table id="tbl2" class="table">
    <thead>
        <tr>
            <th>
                Profosyonel
            </th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td> @users.ProfosyonelFiyat </td>
                <td> @Html.ActionLink("Sil", "Sil", new { profosyonelfiyat = users.profosyonelfiyat }, new { @class = "btn btn-danger" }) </td>
                <td> @Html.ActionLink("Güncelle", "Guncelle", new { premiumfiyat = users.premiumfiyat }, new { @class = "btn btn-success" }) </td>
            </tr>
        }
    </tbody>
</table>

<table id="tbl3" class="table">
    <thead>
        <tr>
            <th>
                Premium
            </th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td> @users.PremiumFiyat </td>
                <td> @Html.ActionLink("Sil", "Sil", new { premiumfiyat = users.premiumfiyat }, new { @class = "btn btn-danger" }) </td>
                <td> @Html.ActionLink("Güncelle", "Guncelle", new { premiumfiyat = users.premiumfiyat }, new { @class = "btn btn-success" }) </td>
            </tr>
        }
    </tbody>
</table>
