@model List<fitness.Models.Users>


@foreach (var user in Model)
{
    <div class="page-content">
        <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">@user.FullName</div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 col-xl-4">
                <div class="card">
                    <i style="font-size: 4rem; margin-left:8rem; margin-top:2rem; margin-bottom:1rem;" class="lni lni-user"></i>

                    <div class="card-body">
                        <h5 class="card-title">@user.FullName</h5>
                        <p class="card-text">@user.Email</p>
                        <p class="card-text">@user.Phone</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@user.Paket</li>
                        <li class="list-group-item">@(user.Baslangic.HasValue ? user.Baslangic.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.Profosyonel.HasValue ? user.Profosyonel.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.Premium.HasValue ? user.Premium.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.BirAylık.HasValue ? user.BirAylık.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.ÜçAylık.HasValue ? user.ÜçAylık.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.AltıAylık.HasValue ? user.AltıAylık.Value.ToShortTimeString() : "-")</li>
                        <li class="list-group-item">@(user.Onİki_Aylık.HasValue ? user.Onİki_Aylık.Value.ToShortTimeString() : "-")</li>
                   
                    </ul>

            
                </div>
            </div>
        </div>
    </div>
}